# Python
__pycache__/
*.py[codz]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
*.manifest
*.spec

# Virtual environments
.env
.venv
env/
venv/
ENV/
env_kali/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
servers/

# IDE
.vscode/
.idea/
*.iml
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# dotenv
.env
.env.*
!.env.example

# Other
*.pyc
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
